.nav-list {
    background: blue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
	overflow: hidden;
	list-style-type: none;
}

.nav-item a {
	display: block;
    font-size: 1.875em; /* 30px */
    text-decoration: none;
	padding: 0.5em 2.1875em; /*8px 35px*/
    color: black;
    text-align: center;
}

.nav-item li {
  float: left;
  margin: 0;
  padding: 0;
  background: blue;
}
.nav-item a:hover {
	background-color: #000099;
}

.about-us-text {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 300px;
    width: 500px;
    position: relative; 
    left: 700px;
    top: 450px;
    position: relative;
}

.about-us-list, li {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}

.slideshow {
    position: relative;
}

.slideshow_item {
    height: 200px;
    background: gray;
    padding: 10px;
}

.slideshow_nav {
    width: 100%; 
    padding: 25px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.slideshow_button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: black;
    border-radius: 50%;
    margin: 0 5px;
}