.nav-list {
    background: blue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
	overflow: hidden;
	list-style-type: none;
}

.nav-item a {
	display: block;
    font-size: 1.875em; /* 30px */
    text-decoration: none;
	padding: 0.5em 2.1875em; /*8px 35px*/
    color: black;
    text-align: center;
}

.nav-item li {
  float: left;
  margin: 0;
  padding: 0;
  background: blue;
}
.nav-item a:hover {
	background-color: #000099;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

h2 {
  text-transform: uppercase;
  margin: auto;
  font-size: 26px;
  line-height: 1.375em;/* 22px */
  font-weight: bold;
  text-align: center;
}